<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Personal Portfolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Dancing+Script" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="height:1500px">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="#">
         <span>Liseth Cardozo Sejas</span>
       </a>
     </div>
     <div id="navbar3" class="navbar-collapse collapse">
       <ul class="nav navbar-nav navbar-right">
         <li class="active"><a  href="#">My Story</a></li>
         <li><a pageScroll href="#project">Projects</a></li>
         <li><a pageScroll href="#skills">Skills</a></li>
         <li><a pageScroll  href="#awards">Awards</a></li>
         <li><a pageScroll  href="#hobbies">Hobbies</a></li>
       </ul>
     </div>
     <!--/.nav-collapse -->
   </div>
  </nav>
<div class="container-fluid" style="margin-top:40px">
  <div class="container">
    <app-my-story></app-my-story>
  </div>
  <p id="project"></p>
  <div class="parallax">
  </div>
  <div class="container">
    <app-projects> </app-projects>
  </div>

  <p id="skills"></p>
  <div class="parallax-skills">
  </div>
  <div class="container">
    <app-skills> </app-skills>
  </div>

  <p id="awards"></p>
  <div class="parallax-awards">
  </div>
  <div class="container">
    <app-awards> </app-awards>
  </div>

  <p id="hobbies"></p>
  <div class="parallax-hobbies">
  </div>
  <div class="container">
    <app-hobbies> </app-hobbies>
  </div>
</div>
</body>
</html>
