ul, li, a {
  display: inline-block;
  color: black;
}

.navbar-default {
  border-color:  #C7CAD2;
}
.navbar-default .navbar-nav>.active>a {
  background-color:#f8f8f8;
  color: black;
}

.navbar-brand span{
  font-family: "Dancing Script";
  	font-size: 35px;
  	font-style: normal;
  	font-variant: normal;
  	line-height: 26.4px;
    color: #9900ff;

}

/* this is format the header links*/
a {
  color: black;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
}
#span{
    padding-left: 110px;
}

.parallax {
  margin-top: 50px;
    /* The image used */
    background-image: url("project.jpg");

    /* Set a specific height */
    min-height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.break {
  color: #9900ff;
  text-align: left;
  padding-left: 50px;
  margin-top: 20px;
  font-weight: bold;
}

.parallax-skills {
  margin-top: 50px;
    /* The image used */
    background-image: url("skills.jpg");

    /* Set a specific height */
    min-height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-awards {
  margin-top: 50px;
    /* The image used */
    background-image: url("dreaming.jpg");

    /* Set a specific height */
    min-height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-hobbies {
  margin-top: 50px;
    /* The image used */
    background-image: url("hobbie.jpg");

    /* Set a specific height */
    min-height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*.break {
  text-shadow:
}*/
/*div.header div.container-fluid {
  width: 2000px;
  height: 1000px;
    border-top: 2px solid black;
    background-image: url("landing.png");
    background-repeat: no-repeat, repeat;
}*/

.break{
 /*font-family: sans-serif;*/
 /*text-align: center;*/
 padding-top: 40px;
 font-size: 50px;
  text-shadow: 2px 2px gray;
 color: #9900ff;
}
