<h1>SKILLS</h1>
<div class="">
  <div class="container">
    <div class="row">
      <div class="col-sm">
      <img src="/assets/python.png"   alt="">
      </div>
      <div class="col-sm">
         <img src="/assets/swift.png"  alt="">
      </div>
      <div class="col-sm">
         <img id="javaScript" src="/assets/JavaScript-logo.png" alt="">

      </div>
      <div class="col-sm">
          <img src="/assets/typescript.png" alt="">
      </div>
      <div class="col-sm last-item">
          <img  src="/assets/ruby.png" alt="">
      </div>
    </div>
  </div>
  <!--Front end skills logo  -->
  <div class="container">
    <div class="row">
      <div class="col-sm">
          <img src="/assets/materialize.png" alt="">
      </div>
      <div class="col-sm">
        <img src="/assets/html.png"  alt="">
      </div>
      <div class="col-sm">
         <img src="/assets/css.png" alt="">
      </div>
      <div class="col-sm">
      <img src="/assets/angular.png"  alt="">
      </div>

      <div  class="col-sm last-item">
          <img  src="/assets/bootstrap-logo.png" alt="">
      </div>
    </div>
  </div>
  <!--Backend Skill logos  -->
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="/assets/node.png" alt="">
      </div>
      <div class="col-sm">
         <img src="/assets/fire.png" alt="">
      </div>
      <div class="col-sm">
           <img src="/assets/flask.png" alt="">
      </div>
      <div class="col-sm">
        <img src="/assets/rails.png" alt="">
      </div>
      <div class="col-sm">
          <img src="/assets/django.png" alt="">
      </div>
    </div>
  </div>
  <!--Database Skill logos  -->
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img  src="/assets/postgresql-logo.png" alt="">
      </div>
      <div class="col-sm">
          <img src="/assets/mySQL.png" alt="">
      </div>
      <div class="col-sm">
           <img src="/assets/squile.png" alt="">
      </div>
      <div class="col-sm">
        <img  src="/assets/mongoDB.png" alt="">
      </div>
    </div>
  </div>
  <!--Others Skill logos  -->
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img  src="/assets/github.png" alt="">
      </div>
      <div class="col-sm">
         <img  src="/assets/amazon.png" alt="">
      </div>
      <div class="col-sm">
           <img  src="/assets/restful.png" alt="">
      </div>
      <div class="col-sm">
          <img src="/assets/git.png" alt="">
      </div>
      <div class="col-sm">
          <img  src="/assets/iOS.png" alt="">
      </div>
    </div>
  </div>
</div>
