<h1>SKILLS</h1>
<div class="">
  <h2>Languages</h2>
  <div class="container languages">
    <div class="logo">
        <img src="/assets/python.png"   alt="">
    </div>
    <div class="logo">
        <img src="/assets/swift.png"  alt="">
    </div>
    <div class="logo">
        <img src="/assets/JavaScript-logo.png" alt="">
    </div>
    <div class="logo">
        <img src="/assets/typescript.png" alt="">
    </div>
    <div class="logo">
        <img src="/assets/ruby.png" alt="">
    </div>



  </div>
  <h2>Front End</h2>
  <div class="container front-end">
    <img id="html" src="/assets/html.png"  alt="">
    <img id="css" src="/assets/css.png" alt="">
    <img src="/assets/angular.png"  alt="">
    <img src="/assets/materialize.png" alt="">
    <img src="/assets/bootstrap-logo.png" alt="">
  </div>
  <h2>Back End</h2>
  <div class=" container backend">
    <img src="/assets/node.png" alt="">
    <img src="/assets/fire.png" alt="">
    <img src="/assets/flask.png" alt="">
    <img src="/assets/rails.png" alt="">
    <img src="/assets/django.png" alt="">
  </div>
  <h2>DataBases</h2>
  <div class=" container dataBase">
    <img src="/assets/postgresql-logo.png" alt="">
    <img src="/assets/mySQL.png" alt="">
    <img src="/assets/squile.png" alt="">
    <img src="/assets/mongoDB.png" alt="">
  </div>
  <h2>Others</h2>
  <div class="container others">
    <img src="/assets/github.png" alt="">
    <img src="/assets/ios.png" alt="">
    <img src="/assets/amazon.png" alt="">
    <img src="/assets/git.png" alt="">
    <img src="/assets/restful.png" alt="">
  </div>

</div>
