<h1>SKILLS</h1>
<div class="">
  <div class="container languages">
    <img src="/assets/python.png"   alt="">
    <img src="/assets/swift.png"  alt="">
    <img id="javaScript" src="/assets/JavaScript-logo.png" alt="">
    <img src="/assets/typescript.png" alt="">
    <img id="ruby" src="/assets/ruby.png" alt="">
  </div>
  <div class="container front-end">
    <img id="html" src="/assets/html.png"  alt="">
    <img id="css" src="/assets/css.png" alt="">
    <img src="/assets/angular.png"  alt="">
    <img src="/assets/materialize.png" alt="">
    <img id="bootstrap" src="/assets/bootstrap-logo.png" alt="">
  </div>
  <div class=" container backend">
    <img src="/assets/node.png" alt="">
    <img src="/assets/fire.png" alt="">
    <img src="/assets/flask.png" alt="">
    <img src="/assets/rails.png" alt="">
    <img id="django" src="/assets/django.png" alt="">
  </div>
  <div class=" container dataBase">
    <img id="postgresql" src="/assets/postgresql-logo.png" alt="">
    <img src="/assets/mySQL.png" alt="">
    <img src="/assets/squile.png" alt="">
    <img id="mongoDB" src="/assets/mongoDB.png" alt="">
  </div>
  <div class="container others">
    <img id="gitHub" src="/assets/github.png" alt="">
    <img id="amazon" src="/assets/amazon.png" alt="">
    <img id="restful" src="/assets/restful.png" alt="">
    <img id="git"src="/assets/git.png" alt="">
    <img id="iOS" src="/assets/ios.png" alt="">
  </div>

</div>
