.projec-list {
  margin-top: 30px;
}
h1{
 /*font-family: sans-serif;*/
text-align: center;
color: #9900ff;
}
h2 {
  text-align: center;
  color: #5c5757;
}

.languages, .backend, .front-end, .dataBase, .others{
  height: 150px;
  width: 1020px;
}
/*img {
  margin-right: 30px;

}*/

.backend img, #amazon {
  margin-right: 30px;
}

.dataBase img {
  margin-right: 50px;
}
.front-end img {
  margin-right: 50px;
}
.others img {
  margin-right: 40px;
}
.languages img {
  margin-right: 40px;
}
#javaScript {
  margin-left: 45px;
  margin-right: 60px;
}
#ruby, #bootstrap, #mongoDB, #iOS {
  margin-right: 0;
}

#css {
  margin-left: 21.3px;
}


#html, #django{
  margin-left: 20px;
}

.logo {
  display: inline-block;
  width: 200px;
}
#postgresql{
  margin-left: 25px;
}
#gitHub {
  margin-left: 15px;
}
#git {
  margin-right: 10px;
}
#restful {
  margin-right: 18px;
}
