<h1>PROJECTS</h1>
<div class="container">
  <div id="smartList" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#smartList" data-slide-to="0" class="active"></li>
      <li data-target="#smartList" data-slide-to="1"></li>
      <li data-target="#smartList" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/smartList1.png" alt="New York">

      </div>
      <div class="carousel-item">
        <img  src="assets/smartList2.png"  alt="Chicago">
      </div>
      <div class="carousel-item">
      <img src="assets/smartList3.png"  alt="Los Angeles">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#smartList" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#smartList" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>
</div>
<div class="block">
  <h4 class="title">SMARTLIST</h4>
  <h5>Python Hackaton - First Place Award</h5>
  <p class="smart"> Web application that helps users to keep track of theirs tasks in a SMART way.</p>
  <p class="smart">Team of 3; I implemented the backend, database, and Google API.</p>
  <h5>WHAT I LEARNED:</h5>
  <ul class="smart-li">
    <li>OOP Design</li>
    <li>RESTful API</li>
    <li>HTTP Protocol</li>
    <li>Integration of Backend and Database</li>
    <li>Django ORMs</li>
    <li>Use Google API</li>
  </ul>
  <h5>CHALLENGES:</h5>
  <ul class="smart-li">
    <li>Inplememt Facebook OAuth.</li>
  </ul>
  <h5>TECHNOLOGIES:</h5>
  <img class="icons1" src="assets/icons/HTML.png" alt="">
  <img class="icons1" src="assets/icons/CSS.png" alt="">
  <img class="icons1" src="assets/icons/JavaScript.png" alt="">
  <img class="icons1" src="assets/icons/python.png" alt="">
  <img class="icons1" src="assets/icons/django.png" alt="">
  <img id ="material" class="icons1" src="assets/icons/materialize.png" alt="">
  <img id="google-icon" class="icons2" src="assets/google.png" alt="">
  <img class="icons1" src="assets/icons/mysql.png" alt="">
  <div class="info">
    <a class ="more-info" href="https://www.youtube.com/watch?v=PWZoVjEnCrc&feature=youtu.be"> #Video-Demo</a>
    <a  class ="more-info" href="https://github.com/SmartBunnyLis/SmartList_App">#GitHub</a>
  </div>

</div>

<div class="container">
  <div id="algoAlarm" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#algoAlarm" data-slide-to="0" class="active"></li>
      <li data-target="#algoAlarm" data-slide-to="1"></li>
      <li data-target="#algoAlarm" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/algoAlarm1.png" alt="New York">

      </div>
      <div class="carousel-item">
        <img  src="assets/algoAlarm2.png"  alt="Chicago">
      </div>
      <div class="carousel-item">
      <img src="assets/algoAlarm3.png"  alt="Los Angeles">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#algoAlarm" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#algoAlarm" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>
</div>
<div class="block">
  <h4 class="title">ALGOALARM</h4>
  <h5>iOS Hackaton- First Place Award</h5>
  <p class="alarm-p">iPhone App; A unique alarm that forces you to wake up.</p>
  <p class="alarm-p">Team of 4; I implemented Core Motion Framework and User Interface</p>

  <h5>WHAT I LEARNED:</h5>
  <ul class="alarm-li">
    <li>iOS Development</li>
    <li>CoreMotion FrameWork</li>
    <li>Fundeamentals of Swift</li>
    <li>User Interface</li>
    <li>Implement AVFoundation</li>
    <li>Debbuging Code</li>
  </ul>
<h5>CHALLENGES:</h5>
  <ul class="alarm-li">
    <li>Implement a new Framework</li>
    <li>Built an App in less than 24 hrs</li>
  </ul>
  <h5 class="tech">TECHNOLOGIES:</h5>
    <img class="icons3" src="assets/xcode.png" alt="">
  <img class="icons3" src="assets/icons/iOS_Swift.png" alt="">
  <img class="icons3" src="assets/coreMotion.png" alt="">
  <img class="icons3" src="assets/iOS.png" alt="">
  <div class="info">
    <a class ="more-info" href="https://www.youtube.com/watch?v=PWZoVjEnCrc&feature=youtu.be"> #Video-Demo</a>
    <a  class ="more-info" href="https://github.com/SmartBunnyLis/AlgoAlarm-App">#GitHub</a>
  </div>
</div>

<div class="container">
  <div id="berries" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#berries" data-slide-to="0" class="active"></li>
      <li data-target="#berries" data-slide-to="1"></li>
      <li data-target="#berries" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/berries1.png" alt="">

      </div>
      <div class="carousel-item">
        <img  src="assets/berries2.png"  alt="">
      </div>
      <div class="carousel-item">
      <img src="assets/berries3.png"  alt="">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#berries" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#berries" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>
</div>
<div class="block">
  <h4 class="title">BARRIE'S BARRIES</h4>
  <h5>iOS Hackaton- First Place Award</h5>
  <p class="alarm-p">iPhone App; A Fun Game for kids. Perfect for road trips, and avoid listening are we there yet?</p>
  <p class="alarm-p">Team of 4; I implented mapKit framework, MKMapView, UI Controllers</p>
  <h5>WHAT I LEARNED:</h5>
  <ul class="alarm-li">
    <li>iOS Development </li>
    <li>mapKit framework Integration </li>
    <li>Annotations and Overlays</li>
    <li>OOP Design </li>
    <li>Synchronize functions</li>
  </ul>
  <h5>CHALLENGES:</h5>
  <ul class="alarm-li">
    <li>Costumize annotations</li>
    <li>No sleep for 24hr</li>
  </ul>
  <h5 class="tech">TECHNOLOGIES:</h5>
  <img class="icons3" src="assets/xcode.png" alt="">
  <img class="icons3" src="assets/mapkit.png" alt="">
  <img class="icons3" src="assets/icons/iOS_Swift.png" alt="">
  <img class="icons3" src="assets/iOS.png" alt="">
  <div class="info">
    <a class ="more-info" href="https://www.youtube.com/watch?v=PWZoVjEnCrc&feature=youtu.be">#Video-Demo</a>
    <a  class ="more-info" href="https://github.com/SmartBunnyLis/Barry-Berries-App">#GitHub</a>
  </div>

</div>

<div class="container">
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
      <li data-target="#demo" data-slide-to="5"></li>
      <li data-target="#demo" data-slide-to="6"></li>
      <li data-target="#demo" data-slide-to="7"></li>
      <li data-target="#demo" data-slide-to="8"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/pythonWeb2.png" alt="New York">
      </div>
      <div class="carousel-item">
        <img  src="assets/pythonWeb1.png"  alt="Chicago">
      </div>
      <div class="carousel-item">
      <img src="assets/pythonWeb4.png"  alt="Los Angeles">
    </div>
    <div class="carousel-item">
    <img  src="assets/internetWeb6.png"  alt="Chicago">
  </div>
  <div class="carousel-item">
    <img src="assets/internet2.png" alt="New York">
  </div>
  <div class="carousel-item">
  <img src="assets/internetWeb7.png"  alt="Los Angeles">
  </div>
  <div class="carousel-item">
    <img src="assets/django8.png" alt="New York">
  </div>
  <div class="carousel-item">
  <img src="assets/django7.png"  alt="Los Angeles">
  </div>
  <div class="carousel-item">
    <img  src="assets/django6.png"  alt="Chicago">
  </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>
</div>
<div class="block">
  <h4 class="title"> STATIC PAGES CLONE</h4>
  <p>Applied HTML and CSS fundamental</p>
  <p id="concepts">concepts</p>
  <h5>WHAT I LEARNED:</h5>
  <ul>
    <li>HTML PCS Relationship</li>
    <li>Common Tags Used</li>
    <li>CSS Basic Selectors</li>
    <li>Undertanding Values and Units</li>
    <li>Position Property</li>
    <li>Box Model</li>
    <li>Lego Concept</li>
  </ul>
  <h5>CHALLENGES:</h5>
  <ul>
    <li>Positioning object proportionally</li>
  </ul>
  <h5 class="tech">TECHNOLOGIES:</h5>
  <img class="icons" src="assets/icons/HTML.png" alt="">
  <img class="icons" src="assets/icons/CSS.png" alt="">
  <div class="info">
    <a  class ="more-info" href="https://github.com/SmartBunnyLis/Python-Page">#GitHub</a>
  </div>

</div>

<div class="container">
  <div id="kitties" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#kitties" data-slide-to="0" class="active"></li>
      <li data-target="#kitties" data-slide-to="1"></li>
      <li data-target="#kitties" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/kitties6.png" alt="New York">

      </div>
      <div class="carousel-item">
        <img  src="assets/kitties8.png"  alt="Chicago">
      </div>
      <div class="carousel-item">
      <img src="assets/kitties7.png"  alt="Los Angeles">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#kitties" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#kitties" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>
</div>
<div class="block">
  <h4 class="title">CUTE KITTY BLOCKS</h4>
  <p>Applied HTML, CSS, Bootstrap</p>
  <p id="kitties">fundamental concepts</p>
  <h5>WHAT I LEARNED:</h5>
  <ul>
    <li>Box Model</li>
    <li>CSS Grid</li>
    <li>Images Layouts</li>
    <li>Responsive Design</li>
    <li>Position Property</li>
    <li>Attention to Detail</li>
    <li>Custumize Design</li>
  </ul>
  <h5>Challenges:</h5>
  <ul>
    <li>Making the website responsive</li>
  </ul>

  <h5 class="tech">TECHNOLOGIES:</h5>
  <img class="icons" src="assets/icons/HTML.png" alt="">
  <img class="icons" src="assets/icons/CSS.png" alt="">
  <img class="icons" src="assets/icons/bootstrap.png" alt="">
  <div class="info">
    <a  class ="more-info" href="https://github.com/SmartBunnyLis/kitty-display-project">#GitHub</a>
  </div>

</div>
<div class="container">
  <div id="pacman" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#pacman" data-slide-to="0" class="active"></li>
      <li data-target="#pacman" data-slide-to="1"></li>
      <li data-target="#pacman" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/pacman3.png" alt="New York">

      </div>
      <div class="carousel-item">
        <img  src="assets/pacman2.png"  alt="Chicago">
      </div>
      <div class="carousel-item">
      <img src="assets/pacman1.png"  alt="Los Angeles">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#pacman" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#pacman" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>
</div>
<div class="block">
  <h4 class="title">MY VERSION OF PACMAN</h4>
  <p>My first game I ever built with JS</p>
  <h5>WHAT I LEARNED:</h5>
  <ul>
    <li>JavaScript fundamentals</li>
    <li>Manipulation of the DOM</li>
    <li>Implement Game Logic</li>
    <li>Debugging JS Code</li>
    <li>Math Library</li>
  </ul>
  <h5>CHALLENGES:</h5>
  <ul>
    <li>Stop playing the game.</li>
    <li>Gaming can be addicted.</li>
  </ul>
  <h5 class="tech">TECHNOLOGIES:</h5>
  <img class="icons" src="assets/icons/HTML.png" alt="">
  <img class="icons" src="assets/icons/CSS.png" alt="">
  <img class="icons" src="assets/icons/JavaScript.png" alt="">
  <div class="info">
    <a class ="more-info" href="https://www.youtube.com/watch?v=PWZoVjEnCrc&feature=youtu.be"> #Video-Demo</a>
    <a  class ="more-info" href="https://github.com/SmartBunnyLis/Pacman-Game">#GitHub</a>
  </div>
</div>
