<h1>PROJECTS</h1>
<div class="projects-list">
  <div class="image">
    <img  src="assets/smart.png" alt="">
  </div>
  <div class="content">
    <h3>SmartList</h3>
    <p>
      projects works!
      Cupim alcatra short loin corned beef sausage chuck jowl picanha ribeye shank. Meatball doner shoulder, cow beef strip steak pastrami drumstick. Cow doner meatloaf tail salami landjaeger ground round sausage bacon pork porchetta boudin ball tip meatball. Turkey sirloin ground round frankfurter chuck tenderloin
    </p>
  </div>
  <div class="projects-list">
    <div class="content">
      <h3>AlgoAlarm</h3>
      <p>
        projects works!
        Cupim alcatra short loin corned beef sausage chuck jowl picanha ribeye shank. Meatball doner shoulder, cow beef strip steak pastrami drumstick. Cow doner meatloaf tail salami landjaeger ground round sausage bacon pork porchetta boudin ball tip meatball. Turkey sirloin ground round frankfurter chuck tenderloin
      </p>
    </div>
    <div class="image">
      <img  src="assets/smart.png" alt="">
    </div>
    <div class="image">
      <img  src="assets/smart.png" alt="">
    </div>
    <div class="content">
      <h3>Berries</h3>
      <p>
        projects works!
        Cupim alcatra short loin corned beef sausage chuck jowl picanha ribeye shank. Meatball doner shoulder, cow beef strip steak pastrami drumstick. Cow doner meatloaf tail salami landjaeger ground round sausage bacon pork porchetta boudin ball tip meatball. Turkey sirloin ground round frankfurter chuck tenderloin
      </p>
    </div>
    <div class="projects-list">
      <div class="content">
        <h3>TravelBuddy</h3>
        <p>
          projects works!
          Cupim alcatra short loin corned beef sausage chuck jowl picanha ribeye shank. Meatball doner shoulder, cow beef strip steak pastrami drumstick. Cow doner meatloaf tail salami landjaeger ground round sausage bacon pork porchetta boudin ball tip meatball. Turkey sirloin ground round frankfurter chuck tenderloin
        </p>
      </div>
      <div class="image">
        <img  src="assets/smart.png" alt="">
      </div>

</div>
