<div class="conatiner">
  <h1>AWARDS</h1>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">First Place Award</h2>
          <h3 class="card-title">#Pyhton Hackaton</h3>
          <img class="img-responsive" src="assets/group1.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">First Place Award</h2>
          <h3 class="card-title">#iOS Hackaton</h3>
          <img class="img-responsive" src="assets/iOSprize1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Triple Black Student</h2>
          <h3 class="card-title">#Coding Dojo</h3>
          <img class="img-responsive"src="assets/tripleBelt.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Google Recognition</h2>
          <h3 class="card-title">#SmallBizHack</h3>
          <img class="img-responsive" src="assets/googleHome3.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
