<div class="container">
  <h1>HOBBIES</h1>
  <p>On Weekend you either can find me  at the tennis court, running, or skiing, and if I am not there It means I'm cracking code in at  new hackathon</p>
  <p></p>
  <h2>Sports Lover</h2>
  <img class="sports-img" src="assets/tennis.png" alt="">
  <img class="sports-img2"src="assets/ski.png" alt="">
  <h2>Hackathon Lover</h2>
  <img class="hackathon-img"src="assets/VRhack.jpg" alt="">
  <img class="hackathon-img2"src="assets/smallhack.jpg" alt="">
</div>
<footer class="container-fluid bg-4 text-center">
    <h4>&copy; Copyright 2017 Liseth Cardozo Sejas</h4>

  <div class="row">

    <div class="col-sm">
      <img  class="icons img-circle" src="assets/resume.png" alt="">
        <a href="assets/LisethCardozoResume.pdf">Resume</a>
    </div>
    <div class="col-sm">
       <img  class="icons img-circle" src="assets/email.png" alt="">
       <a href="mailto:cardzoliseth@gmail.com">Email</a>
    </div>
    <div class="col-sm">
       <img  class="icons img-circle" src="assets/linkedIn.png" alt="">
         <a href="https://www.linkedin.com/in/liseth-cardozo/">LinkedIn</a>
    </div>
    <div class="col-sm">
      <img  class="icons img-circle" src="assets/github1.png" alt="">
        <a href="https://github.com/SmartBunnyLis">GitHub</a>
    </div>
  </div>
</footer>
