<div class="container">
<h1>MY STORY</h1>
<div class="row">
<div class="col-md-4">
    <img class="img-responsive" src="assets/profile.png" alt="">
</div>
<div class="col-lg-8">
  <p>I am a self-taught Software Engineer, who fell in love with coding the moment I solved my first algorithm.
    I’m a tech knowledge seeker, and I learned 3 full technology stacks within 3 months. I come from a non traditional coding background and I have a diverse background. I studied Chemical Engineering, marketing, business, and accounting in order to find my true passion, and I'm happy I finally discovered it "Coding"!
     </p>
     <p>If you are interested in learning more, feel free to get in touch with me:</p>
     <div class="row">
       <div class="col-sm">
         <img  class="icons img-circle" src="assets/resume.png" alt="">
           <a href="assets/LisethCardozoResume.pdf">Resume</a>
       </div>
       <div class="col-sm">
          <img  class="icons img-circle" src="assets/email.png" alt="">
          <a href="mailto:cardzoliseth@gmail.com">Email</a>
       </div>
       <div class="col-sm">
          <img  class="icons img-circle" src="assets/linkedIn.png" alt="">
            <a href="https://www.linkedin.com/in/liseth-cardozo/">LinkedIn</a>
       </div>
       <div class="col-sm">
         <img  class="icons img-circle" src="assets/github1.png" alt="">
           <a href="https://github.com/SmartBunnyLis">GitHub</a>
       </div>
     </div>
</div>
</div>
</div>
